html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #EEEEEE;
    overflow:hidden;
}


textarea {
    resize: none;
}


#nav {
    height: 52px;
    background-color: #EEEEEE;
    width: 100%;
}
.navbar {
    margin-bottom:0px;
}


#container {
    background-color: #EEEEEE;
    position: absolute;
    top: 52px;
    width: 100%;
    bottom: 0;
}

#side {
    height:100%;
    float: left;
    width: 300px;
    background-color: #EEEEEE;
}

#side_newNote
{
    height:120px;
    background:#EEEEEE;
}
#side_newNote:hover
{
    background:#eff4ff;
}

#newNote_title
{
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: 1px;
    width:220px !important;
    border-style:none;

}
#newNote_body 
{

    margin-left: 10px;
    width:220px !important;
    height: 60px !important;
    border-style:none;
    
}

#newNote_add
{
    margin-top:30px;
}


#side_user
{
    height:130px;
    overflow:auto;
    background:#EEEEEE;
    padding: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


#side_user::-webkit-scrollbar {
    width: 5px;
}
 
#side_user::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

 
#side_user::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#user_color 
{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    float:left;
    border-style: solid;
    border-width: thin;

}

#user_self 
{
    border-style:none;
    background-color:#EEEEEE;
    border-bottom: 2px dotted rgba(0,0,0,0.4);
    margin-left: 10px;
}

#user_selectFromTable
{
    margin-left: 10px;
    margin-top: 8px;
    height: 20px;
}

#user_selectFromTable td
{
    width: 20px;
    border-style: solid;
    border-width: thin;
}

.user_otherUserColor
{
    margin-left: 10px;
    width: 15px;
    height: 15px;
    float:left;
    border-style: solid;
    border-width: thin;
}
.user_otherUserName
{
    margin-top:9px;
    margin-left:30px;
    margin-bottom: 9px;
}

#chatArea_box
{
    min-height: 100px;
    background:#ffffff;
    overflow: auto;
    padding: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#chatArea_input
{
    background-color: #eff4ff;
    width:286px !important;
    height: 40px !important;
    margin-bottom: 0;
}               



#main 
{
    margin-left:320px;
    background-color: #EEEEEE;   
}

#main_filter
{


}

#main_notes_container{
    overflow-y: auto;
    overflow-x: hidden;
}

/*http://css-tricks.com/custom-scrollbars-in-webkit/*/
#main_notes_container::-webkit-scrollbar {
    width: 10px;
}
 
#main_notes_container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

 
#main_notes_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


#main_notes
{
     background-color: #eeeeee;   
     width:294px;
}

#notes_container
{
    width:265px;
    float:left;
}

#notes_sidebar
{
    float:right;
}
#notes_buttons {
    background: transparent;
    border: none;

}
#notes_title {

    border: none;
    background-color: #6bf74b;
    margin-bottom: 0px;
    width:253px;
    font-size: 16px;

}

.notes_body {
    border: none;
    background-color: #77feb3;
    width:253px;
    height:48px;
    overflow-y:hidden;


}










