<!DOCTYPE html>
<html ng-app="app" lang='en'>
<head>

	<title>rocketNotes</title>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/lib/jquery-1.10.1.min.js"></script>
	<script src="/lib/angular.min.js"></script>
	<script src="/js/onload.js"></script>
	<script src="/js/main.js"></script>


	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="/lib/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<!-- TODO: fix issue with mime. send font-woff, not font/woof
	<link href="/lib/font-awesome.css" rel="stylesheet">
	-->

	
</head>

<body ng-controller="MainCtrl" >


<div id="nav">
    <div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">rocketNotes / </a>
	  </div>
	</div>
</div>



<div id="container">
    <div id="side">
       <div id="side_newNote">
			<input id="newNote_title" type="text" placeholder="add a title here" ng-model="title">
			<textarea id="newNote_body" placeholder="content goes here" ng-model="body">{{body}}</textarea>
			<button id="newNote_add" class="btn" ng-click="createNote(title,body)">
				<i class="icon-circle-arrow-right icon-large"></i>
			</button>
			
		</div>
		

		<div id="side_user">
			<div id="user_color" ng-model="userColor" style="background: {{userColor}}"></div>
			
			<input id="user_self" ng-model="username" maxlength="30"  tabindex="-1">

			<div id="user_selectColor" style="display:none;">
				<table id="user_selectFromTable">
					<tr>
						<!--http://stackoverflow.com/questions/11578867/is-there-a-list-of-standard-tile-colors-for-metro-style-windows-8-apps-->
						<td class="colorSelected" style="background: #A200FF;" ng-click="toggleSelectColor('#A200FF')"></td>
						<td class="colorSelected" style="background: #FF0097;" ng-click="toggleSelectColor('#FF0097')"></td>
						<td class="colorSelected" style="background: #00ABA9;" ng-click="toggleSelectColor('#00ABA9')"></td>
						<td class="colorSelected" style="background: #8CBF26;" ng-click="toggleSelectColor('#8CBF26')"></td>
						<td class="colorSelected" style="background: #A05000;" ng-click="toggleSelectColor('#A05000')"></td>
						<td class="colorSelected" style="background: #E671B8;" ng-click="toggleSelectColor('#E671B8')"></td>
						<td class="colorSelected" style="background: #F09609;" ng-click="toggleSelectColor('#F09609')"></td>
						<td class="colorSelected" style="background: #1BA1E2;" ng-click="toggleSelectColor('#1BA1E2')"></td>
						<td class="colorSelected" style="background: #E51400;" ng-click="toggleSelectColor('#E51400')"></td>
						<td class="colorSelected" style="background: #339933;" ng-click="toggleSelectColor('#339933')"></td>
					</tr>
				</table>
			</div>

			<div ng-repeat="user in userlist">
				<p>{{user}}</p>
			</div>
		</div>

		
		<div id="chatArea_box">
				
		</div>
			
			
		<textarea id="chatArea_input" placeholder="chat message"></textarea>
    </div>

    <div id="main">
        <div id="main_filter" class="btn-toolbar">
  			<div class="btn-group">
  				<button class="btn"><i class="icon-play-sign icon-large"></i></button>
  				<button class="btn"><i class="icon-external-link icon-large"></i></button>
  				<button class="btn"><i class="icon-youtube-play icon-large"></i></button>
  				<button class="btn"><i class="icon-code icon-large"></i></button>
  				<button class="btn"><i class="icon-file-text icon-large"></i></button>
  				<button class="btn"><i class="icon-instagram icon-large"></i></button>
  				<button class="btn"><i class="icon-edit icon-large"></i></button>
  				<button class="btn"><i class="icon-headphones icon-large"></i></button>
  				<button class="btn"><i class="icon-list icon-large"></i></button>
  			</div>
		</div>

        <div id="main_notes" sticky-note ng-repeat="note in notes" note="note" class="alert alert-block" ondelete="deleteNote(id)">
				
			<div>
				<button type="button" class="close" ng-click="deleteNote(note.id)">&times;</button>

				<input ng-model="note.title" ng-change="updateNote(note)" type="text" class="title" >
			
				<textarea ng-model="note.body" ng-change="updateNote(note)" class="body">{{note.body}}</textarea>
			</div>
		</div>
    </div>
</div>





</body>
</html>